---
Checks: >
  -*
  bugprone-*
  performance-*
  readability-*
  -readability-magic-numbers
  -readability-identifier-length
  -bugprone-easily-swappable-parameters
  -bugprone-implicit-widening-of-multiplication-result
  -readability-function-cognitive-complexity
  -readability-else-after-return
  clang-analyzer-*
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling
  -clang-analyzer-unix.Malloc
  -clang-analyzer-unix.cstring.NullArg
  -clang-analyzer-unix.cstring.BadSizeArg
  -clang-analyzer-unix.cstring.OutOfBounds
  -clang-analyzer-unix.API
  -clang-analyzer-core.NonNullParamChecker
  -clang-analyzer-core.NullDereference
  -clang-analyzer-core.CallAndMessage
  -clang-analyzer-core.DivideZero
  -clang-analyzer-core.StackAddressEscape
  -clang-analyzer-core.UndefinedBinaryOperatorResult
  -clang-analyzer-core.VLASize
  -clang-analyzer-core.uninitialized.ArraySubscript
  -clang-analyzer-core.uninitialized.Assign
  -clang-analyzer-core.uninitialized.Branch
  -clang-analyzer-core.uninitialized.CapturedBlockVariable
  -clang-analyzer-core.uninitialized.UndefReturn
  -clang-analyzer-deadcode.DeadStores
  -clang-analyzer-optin.performance.Padding
  -clang-analyzer-optin.portability.UnixAPI
  -clang-analyzer-security.FloatLoopCounter
  -clang-analyzer-security.insecureAPI.UncheckedReturn
  -clang-analyzer-security.insecureAPI.getpw
  -clang-analyzer-security.insecureAPI.gets
  -clang-analyzer-security.insecureAPI.mkstemp
  -clang-analyzer-security.insecureAPI.mktemp
  -clang-analyzer-security.insecureAPI.rand
  -clang-analyzer-security.insecureAPI.strcpy
  -clang-analyzer-security.insecureAPI.vfork
  -clang-analyzer-unix.API
  -clang-analyzer-unix.DynamicMemory
  -clang-analyzer-unix.MallocSizeof
  -clang-analyzer-unix.MismatchedDeallocator
  -clang-analyzer-unix.Vfork
  -clang-analyzer-unix.cstring.BadSizeArg
  -clang-analyzer-unix.cstring.NullArg
  -clang-analyzer-unix.cstring.OutOfBounds
  -clang-analyzer-valist.Uninitialized
  -clang-analyzer-valist.Unterminated

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: 'file'
User: ''


